body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
.btn {
  background-color: #817d7d;
  border: none;
  font-size: 20px;
  padding: 15px 35px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #222260;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.btn:hover {
  background-color: #0e0d0d;
  border: 2px solid #8d8888;
  color: #ffffff;
  box-shadow: 0 12px 16px 0 #1409583d, 0 17px 50px 0 #222260;
}
.btn:active {
  background-color: #222260;
}
.tooltip {
  position: absolute;
  bottom: 110%;
  left: 70%;
  color: #0e0d0d;
  background-color: #817d7d;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  display: none;
}
.btn:hover .tooltip {
  display: block;
}
